{% extends "navbar.html"%}
{% block title %}Seguros{% endblock %}
{% block conteudo %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="container pt-3 mb-3">
    <h2 class="h3 block-title text-center titulo_seguros ">Vantagens Diferenciadoras</h2>
    <div class="row pt-5 mt-30">
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card-seg">
                <div class="icon bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;">
                    <i class="fa fa-car fa-3x head-icon"></i></i>
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titulo  pt-1">Auto</h3>
                    <p class="card-text text-sm text-center">Não existem dois condutores iguais. É por isso que agora há um seguro para cada um. Desde o seguro auto obrigatório, com serviços mínimos, até à modalidade de máxima segurança e conforto, para quem valoriza a sua proteção, da sua família e contra danos provocados no seu automóvel.​</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card-seg" >
                <div class="icon bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-motorcycle fa-3x head-icon" ></i></div>
                <div class="card-body text-center">
                    <h3 class="card-titulo  pt-1">Mota</h3>
                    <p class="card-text text-sm">Um seguro para os amantes das duas rodas, com proteção para a sua mota e para os outros através da cobertura de responsabilidade civil. A cobertura de quebra isolada de vidros assegura a reparação ou substituição dos vidros e a cobertura de assistência em viagem disponibiliza o envio de um reboque ou de uma nova peça de substituição que não esteja disponível no local.​​​</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card-seg" >
                <div class="icon bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-car fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-titulo  pt-1">Clássicos</h3>
                    <p class="card-text text-sm">Um seguro desenhado para o veículo clássico e com serviços pensados para a sua proteção e conforto. Desde a responsabilidade civil, que o protege de uma colisão entre o seu clássico e o seu veículo de utilização habitual, até ao serviço de assistência que disponibiliza um reboque dedicado e exclusivo ao transporte da sua viatura.​</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card-seg" >
                <div class="icon bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-medkit fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-titulo  pt-1">Saúde</h3>
                    <p class="card-text text-sm">Escolha o seguro que mais se adequa às suas necessidades de proteção na saúde e tenha acesso à maior rede médica privada, a preços vantajosos. Todos os planos proporcionam o acesso imediato, exclusivo e sem qualquer custo, a cuidados primários a partir de sua casa, 24 horas por dia, 7 dias por semana com o serviço de Medicina Online.​</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card-seg" >
                <div class="icon bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-paw fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-titulo  pt-1">Pets</h3>
                    <p class="card-text text-sm">Se a companhia do seu amigo é indispensável, indispensável é também o Fidelidade Pets que lhe apresenta três soluções de proteção distintas. Desde a base que garante os danos causados pelo animal e serviços de assistência, a outras soluções que incluem medicina preventiva e reembolso de despesas médicas.​​</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card-seg" >
                <div class="icon bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-medkit fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-titulo  pt-1">Acidentes Pessoais</h3>
                    <p class="card-text text-sm">O plano que vai além dos tempos livres, protege até em trabalho ou em deslocações de carro. Os capitais mais elevados e o mesmo serviço de apoio Fidelidade.​</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}